* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  height: 100vh;
}

div#env {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  /*position: fixed;*/
  /*left: 0;*/
  flex: 1;
}

div#logs {
  display: inline-block;
  display: none;
  width: 0;
  height: 100%;
  border: 1px solid black;
  /*position: fixed;*/
  right: 0;
}

div#cmds {
  width: 100%;
  /*position: fixed;*/
  bottom: 0;
}

#cmd2 {
}

form {
  background: #000;
  color: #fff;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

form input#m {
  border: 0;
  padding: 10px;
  width: 40%;
  margin-right: .5%;
}

form button#send {
  width: 5%;
  background: rgb(130, 224, 255);
  border: 1px solid black;
  padding: 10px;
}

div.dialog {
  display: inline-block;
  border: 1px solid gray;
  vertical-align: top;
  background: silver;
  color: black;
}

div.dlgheader {
  text-align: right;
  background: gray;
}

div.dlgfooter {
  text-align: right;
}

div.cmd {
  display: inline-block;
}

button.cmd {
  background: rgb(130, 224, 255);
  border: 1px solid black;
  padding: 10px;
  margin: 3px;
}

label.cmd {
  width: 80px;
  padding: 5px;
  margin: 3px;
}

input.cmd {
  padding: 5px;
  margin: 3px;
}

.list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list li {
  padding: 1px 10px;
}

.list li:nth-child(odd) {
  background: #eee;
}

li.active,
div.active {
  background: yellow;
}

li.active,
div.active {
  background: yellow;
  border: 1px solid black;
}

li.inactive,
div.inactive {
  background: gray;
  border: 1px solid black;
}

.top-section {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex: 1;
}

.actions-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

#account-actions {
  background-color: grey;
  height: 42px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

#table-actions {
  background-color: grey;
  height: 42px;
}

#ready {
  background-color: green;
}

.f1 {
  flex: 1;
}

#check {
  width: 200px;
  margin-right: 50px;
}

#call {
  width: 200px;
  margin-right: 50px;
}

#fold {
  background-color: beige;
}

#pot {
  font-size: 40px;
}

.func-wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

#raise-wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.raise-wrap-wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

#raise-amount {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

/*.account-actions, .table-actions {
  height: 40px;
}*/
